Sign up!

%form{action: '/users', method: 'post'}
	%label Email
	%input{type: "text", name: "Email"}

	%label Password
	%input{type: "password", name: "Password"}

	%label Password Confirmation
	%input{type: "password", name: "Password Confirmation"}
	%input{type: 'submit', value: "Sign Up"}
