= haml :user_forms

{{hello}}

%form{:"ng-submit" => "postCheet()"}
	%input{type: 'text', name: 'cheet', placeholder: 'Write your cheet here', :"ng-model" => 'cheet'}

	%input{type: 'submit', value: 'Post!'}


%ul	
	%li{:"ng-show" => "cheet"} {{cheet}}
	%li{:"ng-repeat" => "cheet in cheets"}	{{cheet.text}}