%html{:"ng-app" => "chitter"}
	%head

		%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: 'stylesheet', type: 'text/css'}
		%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
		%script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
		%link{:href=>'http://ricostacruz.com/nprogress/nprogress.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
		%script{src: "http://ricostacruz.com/nprogress/nprogress.js"}
		%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"}
		%script{src: "http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"}
		%script{src: "https://rawgit.com/urish/angular-moment/master/angular-moment.min.js"}
		%script{src: "http://js.pusher.com/2.2/pusher.min.js"}
		%script{:type => "text/javascript", :src => "javascript/application.js"}
		%link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/application.css'}
		%title Chitter
	%body{:"ng-controller" => "ChitterCtrl"}

		= haml :flash 

		= yield

		