%nav.navbar-default.navbar-fixed-top{role: 'navigation'}
	.container
		- unless current_user




			.btn-group.pull-right
				%btn.btn.btn-default.dropdown-toggle{data: {toggle: "modal", target: "#signUp"}} Sign Up!

			.btn-group.pull-right
				%btn.btn.btn-default.dropdown-toggle{data: {toggle: "modal", target: "#logIn"}} Log In!








		- else
			
			%form{action: "/sessions/logout", method: "post"}
				%input{type: 'hidden', name: '_method', value: 'delete'}
				%input.btn.btn-default.pull-right{type: 'submit', value: 'Log Out'}




.modal.fade#signUp{tabindex: "-1", role: 'dialog', :"aria-labelledby" => "myModalLabel", :"aria-hidden" => true}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type:'button', data: {dismiss: "modal"}} <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				%h4.modal-title#myModalLabel Sign-Up Form
			.modal-body
				%form{action: '/users', method: 'post'}
					%label Email
					%input{type: "text", name: "register_email"}
					%label Password
					%input{type: "password", name: "register_password"}
					%label Password Confirmation
					%input{type: "password", name: "register_password_confirmation"}
					%input{type: 'submit'} Sign Up

			.modal-footer
				%button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
				%button.btn.btn-primary{type: 'button'} Sign Up!

.modal.fade#logIn{tabindex: "-1", role: 'dialog', :"aria-labelledby" => "myModalLabel", :"aria-hidden" => true}
	%form{action: '/sessions', method: 'post'}
	.modal-dialog
		
		.modal-content
			.modal-header
				%button.close{type:'button', data: {dismiss: "modal"}} <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				%h4.modal-title#myModalLabel Sign-Up Form
			.modal-body
		
				%label Email
				%input{type: "text", name: "login_email"}

				%label Password
				%input{type: "password", name: "login_password"}
				%input{type: 'submit', value: "Log In"}


			.modal-footer
				%button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
				







