%nav.navbar-default.navbar-fixed-top{role: 'navigation'}
	.container
		- unless current_user




			.btn-group.pull-right
				%btn.btn.btn-default.dropdown-toggle.signup{data: {toggle: "modal", target: "#signUp"}} Sign Up!

			.btn-group.pull-right
				%btn.btn.btn-default.dropdown-toggle.login{data: {toggle: "modal", target: "#logIn"}} Log In!








		- else
			
			%form{action: "/sessions/logout", method: "post"}
				%input{type: 'hidden', name: '_method', value: 'delete'}
				%input.btn.btn-default.pull-right{type: 'submit', value: 'Log Out'}




.modal.fade#signUp{tabindex: "-1", role: 'dialog', :"aria-labelledby" => "myModalLabel", :"aria-hidden" => true}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{type:'button', data: {dismiss: "modal"}} <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				%h4.modal-title#myModalLabel Sign-Up Form
			.modal-body
				%form{action: '/users', method: 'post'}
					.form-group
						%label Email
						%input.form-control{type: "text", name: "register_email"}
					.form-group
						%label Password
						%input.form-control{type: "password", name: "register_password"}
					.form-group
						%label Password Confirmation
						%input.form-control{type: "password", name: "register_password_confirmation"}
					.form-group
						%input.btn.btn-default{type: 'submit', value: "Sign Up"}


.modal.fade#logIn{tabindex: "-1", role: 'dialog', :"aria-labelledby" => "myModalLabel", :"aria-hidden" => true}
	
	.modal-dialog
		
		.modal-content
			.modal-header
				%button.close{type:'button', data: {dismiss: "modal"}} <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				%h4.modal-title#myModalLabel Sign-Up Form
			.modal-body
				%form{action: '/sessions', method: 'post'}
					.form-group
						%label Email
						%input.form-control{type: "text", name: "login_email"}

					.form-group
						%label Password
						%input.form-control{type: "password", name: "login_password"}
					.form-group
						%input.btn.btn-default{type: 'submit', value: "Log In"}
				







